.chgk-game {
    transition: all 0.5s;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.chgk-game:hover {
    background: #199ee81f
}